@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;700&display=swap');

@font-face {
    font-family: newFont;
    src: url('./assets/fonts/MonumentExtended-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: newFont;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 0 1vw;
    gap: 2vw;
}

.text-loader {
    /* border: 1px solid red; */
    font-size: 12px;
    opacity: 0;
}

.text-loader {
    font-size: 1.5rem;
}

.text-15 {
    margin-left: 1.5vw;
}

.text-33 {
    margin-left: 4.5vw;
}

.text-63 {
    margin-left: 8vw;
}

.text-97 {
    margin-left: 15vw;
}

.text-100 {
    margin-left: 1vw;
}

.fixed-p {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: orange;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}


.flex-p-content {
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.cntr-p,
.cntr-p2 {
    text-align: center;
    z-index: 999;
    font-size: 1.2rem;
}

.nav {
    margin-top: 3vh;
    gap: 2vw;
}

.nav a {
    text-decoration: underline;
    z-index: 999;
    font-size: 1.2rem;
    color: #fff;
}