@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;700&display=swap');

@font-face {
    font-family: newFont;
    src: url('./assets/fonts/MonumentExtended-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: newFont;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
}

body {
    /* background-repeat: no-repeat; */
    /* background-image: url('images/VS Wallpaper.jpeg'); */
    /* background-size: cover; */
    color: whitesmoke;
    height: 100%;
}

.loader {
    width: 100%;
    height: 100vh;
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    gap: 2vw;
}

.text-loader {
    /* border: 1px solid red; */
    font-size: 12px;
    opacity: 0;
}

.text-15 {
    margin-left: 1.5vw;
}

.text-33 {
    margin-left: 4.5vw;
}

.text-63 {
    margin-left: 8vw;
}

.text-97 {
    margin-left: 15vw;
}

.text-100 {
    margin-left: 1vw;
}


/* ----------------- loading-part-end ----------------- */


/* ----------------- nav-part-start ----------------- */