@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Laila', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-image: url('images/VS Wallpaper.jpeg');
    background-size: cover;
    color: rgba(255, 255, 255, 0.764);
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center  ;
    z-index: 9;
    font-weight: bold;

}

#image {
    height: 30vw;
    width: 60vw;

    background-color: red;
    background-size: cover;
    
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 1.2), -1px -1px 8px rgba(255, 255, 255, 0.4);
    border-radius: 20px;

    background-image: url(https://c4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-preview.jpg);
    position: relative;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 2px dotted white;
    border-radius: 20px;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10 ;
}